html
  head
  form(action="/choose" method="post")
    body
        h1 공룡을 골라라!
        p
          input(type="text" name="dino" placeholder="공룡의 이름을 입력하세요.")
        p
          input(type="submit" value="확인")
