html
  head
  form(action="/join" method="post")
    body
        h1 SIGNUP
        p
          input(type="text" name="id" placeholder="ID")
        p
          input(type="password" name="pwd" placeholder="PASSWORD")
        p
          input(type="email" name="email" placeholder="E-mail")
        p
          input(type="submit" value="Signup")
